

<div class="container">
 	<div class="col-md-4 col-md-offset-4 col-xs-10  col-sm-6 col-sm-offset-3" id="content_mentor">
    <img class="mb-4" src="/logo-charoyali.jpg" alt="" width="100" height="100"> <br> <br>
      	<%= form_for @firstlivreur, :class =>" form-signin" do |f|%>
      	<%= f.text_field :first_name, class:"form-control", :placeholder => "Votre nom"%> <br>
        <%= f.text_field :last_name, class:"form-control", :placeholder => "Votre prénom"%> <br>
      	<%= f.email_field :email, class:"form-control", :placeholder => "Votre email"%> <br>
        <%= f.text_field :citystart, class:"form-control", id:"user_input_autocomplete_address", :placeholder => "Votre ville de départ"%>
        <!--<%= f.email_field :phone, class:"form-control", :placeholder => "Votre téléphone"%> <br>
      	<%= f.select :city ,  ['Quel cours souhaitez-vous prendre ?','Electronique', 'Electricité', 'Raspberry Pi','Arduino','Menuiserie'],	{},{ :class => "form-control"} %> <br>
      	<%= f.select  :city , ['Quel est votre moyen de transport?','Voiture', 'Camion', 'Vélo','Trottinette','Moto'],	{},{ :class => "form-control"}%> <br>
        <%= f.select  :usual_route , ['Quel est votre route habituelle ?','Voiture', 'Camion', 'Vélo','Trottinette','Moto'],	{},{ :class => "form-control"}%> <br>-->

		<%= f.submit :value => "Validez",  :class => "btn btn-lg btn-primary btn-block"%>
      <% end %>
  </div>
 </div> <!-- /container -->
