<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @post.desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= @post.price %>
</p>

<p>
  <strong>Address start:</strong>
  <%= @post.address_start %>
</p>

<p>
  <strong>Address end:</strong>
  <%= @post.address_end %>
</p>

<p>
  <strong>Hour start:</strong>
  <%= @post.hour_start %>
</p>

<p>
  <strong>Hour end:</strong>
  <%= @post.hour_end %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @post.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @post.date_end %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
